@model Bolnica.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>

        <div class="panel panel-primary">
            <div class="panel-heading"><h1>Смена пароля</h1></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                            <div class="label label-default">
                               Текущий пароль             
                            </div> <p></p>
                            <div class="label label-default">
                                Новый пароль
                            </div><p></p>
                            <div class="label label-default">
                                Подтвердите пароль
                            </div>
                    </div>
                    <div class="col-md-6">   
                        <div class="input-group">          
                             @Html.PasswordFor(m => m.OldPassword)
                        </div>        
                        <div class="input-group">    
                            @Html.PasswordFor(m => m.NewPassword)
                        </div>  
                        
                        <div class="input-group">
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </div>             
                    </div>
            
                    <div class="col-md-3">  
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-6 col-md-offset-4">
                        <input class="btn btn-primary" type="submit" value="Смена пароля" />
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}
